{
    "openapi": "3.0.0",
    "info": {
        "title": "Votre Aggregateur sure",
        "description": "Documentation de l'API pour l'aggregateur",
        "contact": {
            "email": "n.taffot@elyft.tech"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Serveur API principal"
        }
    ],
    "paths": {
        "/api/users": {
            "get": {
                "tags": [
                    "SuperAdmin"
                ],
                "summary": "Lister les utilisateurs",
                "operationId": "3f39c58b453184b38972ed33059d0ccb",
                "responses": {
                    "200": {
                        "description": "Liste d'utilisateurs"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "show user information  (for dashboard and mobile. required token)",
                "operationId": "show",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "name": {
                                            "type": "number",
                                            "example": "junes"
                                        },
                                        "phone": {
                                            "type": "string",
                                            "example": "677858949"
                                        },
                                        "gender": {
                                            "type": "string",
                                            "example": "M, F"
                                        },
                                        "adresse": {
                                            "type": "string",
                                            "example": "Yaounde"
                                        },
                                        "role": {
                                            "type": "string",
                                            "example": "LOCATAIRE"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "ACTIF"
                                        },
                                        "numero_permis": {
                                            "type": "string",
                                            "example": "20-22-06-28"
                                        },
                                        "date_delivrance": {
                                            "type": "string",
                                            "example": "2022-06-28"
                                        },
                                        "date_expiration": {
                                            "type": "string",
                                            "example": "2028-06-28"
                                        },
                                        "annees_experience": {
                                            "type": "string",
                                            "example": "5"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "user@test.com"
                                        },
                                        "img_permis": {
                                            "type": "string",
                                            "example": "img.png"
                                        },
                                        "img_cni": {
                                            "type": "string",
                                            "example": "img.png"
                                        },
                                        "bio_personnel": {
                                            "type": "string",
                                            "example": "texte"
                                        },
                                        "lien_reseau": {
                                            "type": "string",
                                            "example": "facebook.com"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2024-08-07T10:17:53.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "number",
                                            "example": 401
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The customer is not authenticated and does not have the necessary access rights."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "number",
                                            "example": 403
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The user is not authorized to access the resource."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "number",
                                            "example": 404
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "data does not exist."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "number",
                                            "example": 500
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "error server"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "Entrez le jeton Bearer ici, ex: 'Bearer 12345abcdef'",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            },
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format (Bearer <token>)",
                "name": "Authorization",
                "in": "header"
            }
        }
    },
    "tags": [
        {
            "name": "SuperAdmin",
            "description": "SuperAdmin"
        },
        {
            "name": "User",
            "description": "User"
        }
    ]
}